.clock-box{
	width:730px;
	height:300px;
	background-color: red;
	text-align: center
	
}

.myClock{
	font-size: 65px;
	padding-left: 270px;
	padding-top: 100px;

} 

#hours{
	float:left;
}

#minutes{
	float:left;
}

#seconds{
	float: left;
}

#hexCode{
	width: 730px;
	height: 300px;

}